<!DOCTYPE html>
<html>
<body>

<div id="container" style="width:750px">

<div id="header" style="background-color:#3939E6;">
<h1 style="margin-bottom:0;">Calendar Info from Clembough2</h1></div>

<div id="linked in" style="background-color:#F28A22;height:200px;width:375px;float:left;">
<b>Which event would you like to learn about?</b><br />
<a href="http://wwww.google.com" > google </a><br />
<a href="http://www.facebook.com" > facebook </a><br />
<a href="http://www.gizmodo.com" > gizmodo </a><br />
<a href="http://www.twitter.com" > twitter </a><br />
<a href="${event5href}" > $event5 </a><br /></div>
</div>

<div id="linked in" style="background-color:#F28A22;height:200px;width:375px;float:left;">
<b>Which event would you like to learn about?</b><br />
</div>
</div>

</body>
</html>